body {
	background: #FFFFFF;
	margin: 0px;
	min-width: 1075px;
}

td {
	font-size: 12px;
	font-family: arial, sans-serif;
	border: 1px solid black;
	text-align: center;
}

#board {
    /* display: none; */
    border: 2px solid black;
    border-spacing: 3px;
    margin: 2em 2em 2em 2em;
    /* float: left; */
    width: 95%;
}
/* for buy/sell/trade box */
#control {
	position: relative;
	top: -650px;
	left: 450px;
	/* border: 2px solid black; */
	border: transparent;
	padding: 10px;
	width: 400px;
	height: 149px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
}

#gameLog {
	position: absolute;
	/* top: 550px; */
	/* left: 550px; */
	border: 2px solid black;
	padding-left: 1px;
	width: 300px;
	height: 100px;
	overflow-y: scroll;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
}

#weather {
	padding-right: 10px;
	padding-left: 10px;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: .1em .1em 0 rgba(0,0,0,0.3);
	font-size: 1.3em;
	height: 80px;
	width: 500px;
	border: 2px black solid;
	/* background-image: url('http://bestanimations.com/Nature/Water/rain/rain-nature-animated-gif-21.gif'); */
	/* background-image: url('https://i.pinimg.com/originals/20/e6/03/20e60377fb5710a7335be9bec1884877.gif'); */
}
#weather-text {
	color: grey;
	font-style: italic;
}
h1 {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 3em;
}

#enlarge-wrap {
	border: none;
	z-index: 0;
}

#chanceCards {
	position: relative;
	top: -550px;
	left: 0px;
	/* width: 300px;
	height: 100px; */
}

#propertyList{
	display: none;
	width: 200px;
	size: 200px;
}
#propertyListSection{
	position: relative;
	/* top: -650px;
	left: 450px; */
	left: 800px;
	top: -775px;
}
/* button color */
.playerOptions-btn-group button {
	background-color: #6b5b95; /* purple background */
	color: white; /* White text */
	cursor: pointer; /* Pointer/hand icon */
  }

/* disabling buttons */
.playerOptions-btn-group button:disabled {
	background-color: #6b5b69; /* different purple background */
	color: white; /* White text */
	cursor: not-allowed; /* Pointer/hand icon */
	pointer-events: none; 
}

.cell {
	position: relative;
	top: 0px;
	left: 0px;
	padding: 0px;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-size: auto 40px;
}

.board-center {
	width: 675px;
	border: none;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-size: auto 40px;
}

.board-corner {
	width: 102px;
	height: 102px;
}

.board-top {
	width: 72px;
	height: 102px;
}

.board-bottom {
	width: 72px;
	height: 102px;
}

.board-left {
	width: 102px;
	height: 72px;
}

.board-right {
	width: 102px;
	height: 72px;
}

.enlarge {
	width: 150px;
	height: 200px;
	display: none;
	background-color: white;
	border: 2px solid black;
	text-align: center;
	font-size: 12px;
	font-family: arial, sans-serif;
	position: fixed;
	z-index: 15;
}

.enlarge-color {
	background: white;
	width: 100%;
	height: 40px;
}

.enlarge-name {
	font-weight: bold;
	font-size: 20px;
	background-color: white;
	height: 45px;
}

.enlarge-price {
	background-color: white;
	vertical-align: bottom;
	height: 25px;
}

.enlarge-token {
	height: 45px;
	width: 150px;
	background-size: 100% 100%;
	position:relative; 
	left: -2px;
	top: -12px;
	/* background-image: url('http://2.bp.blogspot.com/-lqgdvvK5pPM/TjqzswOyM_I/AAAAAAAADs8/T5wEBb36jmY/s1600/Capilano-Suspension-Bridge-Vancouver.jpg') */
}

.moneybarcell {
	width: 83px;
	min-width: 83px;
}

.moneybararrowcell {
	background: white;
	width: 30px;
	border: none;
	text-align: right;
	padding: 0px;
}

.money-bar-arrow {
	height: 30px;
	width: 30px;
}
.propertycellcheckbox {
	width: 20px;
	height: 20px;
	border: none;
	vertical-align: middle;
}

.propertycellcolor {
	padding: 0px;
	width: 20px;
	height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: white;
}

.propertycellname {
	height: 20px;
	width: 250px;
	border: none;
	cursor: default;
	text-align: left;
	vertical-align: middle;
}

.propertycelldeed {
	width: 18px;
	height: 20px;
	border: 1px solid grey;
	cursor: pointer;
	display: none;
}

.statscellcolor {
	padding: 0px;
	width: 22px;
	height: 20px;
	border: none;
}

.statscellname {
	height: 20px;
	border: none;
	cursor: default;
	text-align: left;
	min-width: 172px;
}

.statsplayername {
	font-weight: bold;
	font-size: 24px;
}

.statscell {
	border: 2px solid black;
	padding: 8px;
	vertical-align: top;
	width: 202px;
	min-width: 115px;
}

.trade-cell {
	border: none;
	border-radius: 3px;
	width: 308px;
	height: 26px;
	vertical-align: middle;
}

.cell-anchor {
	width: 100%;
	height: 100%;
	position: relative;
	bottom: 0px;
	left: 0px;
}

.cell-name {
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: center;
	width: 100%;
}

.cell-position-holder {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: relative;
}

.cell-position {
	height: 12px;
	width: 12px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.cell-owner {
	background-size: cover;
	display: none;
	position: absolute;
}

.board-top .cell-owner {
	height: 15px;
	left: 0px;
	top: -25px;
	width: 72px;

}

.board-bottom .cell-owner {
	bottom: -25px;
	height: 15px;
	left: 0px;
	width: 72px;
}

.board-left .cell-owner {
	height: 68px;
	left: -25px;
	top: 0px;
	width: 15px;

}

.board-right .cell-owner {
	height: 68px;
	right: -25px;
	top: 0px;
	width: 15px;

}


#player_wrapper{
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}


.player_status_wrapper{
    width:25%;
}

.player_status{
   width: 100%;
}

.grid {
	height: 60%;
	width: 100%;
	border-color: white;
	border-collapse: collapse;
}

.grid-col {
	border-color: white;
	width: 33%;
	height: 50%;
}

.blinking{
    animation:blinkingText 1.8s infinite;
}

@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}