<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/nav.ejs %>


<p>Failed to login, go back to <a href="login">Log In.</a></p>

</body>
</html>