<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/nav.ejs %>

<p>Username taken, please <a href="login">log in</a> or <a href="signup">try again.</a></p>

</body>
</html>