<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<p>Account created, you can now <a href="login">Log In.</a></p>

</body>
</html>